.example-card {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 15px;
    mat-card-header, mat-card-content, mat-card-actions {
        margin: auto;
        text-align: center;
    }
    img{
        margin: 1rem 0rem 1rem 0rem;
    }
}