<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-6">
            <h2 class="text-center text-uppercase">Belépés lakók részére</h2>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput">
                <label for="floatingInput">Email cím</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword">
                <label for="floatingPassword">Jelszó</label>
            </div>  
            <!-- <button type="button" mat-raised-button color="primary" class="btn mx-2 col-12">Belépés</button> -->

            <button type="button" mat-raised-button color="primary" class="btn mx-2 col-5 float-end">Belépés</button>
            <button type="button" mat-raised-button color="primary" class="btn mx-2 col-5">Hello!</button>
        </div>
    </div>
</div>
