 <div style="margin-top: 2rem;" class="card text-center">

        <div class="card-header">Elérhetőségeink:</div>
    
        <div class="card-body">
          <p class="card-text"><span>Címünk: </span>1145 Budapest, Gyertyán utca 18</p>
          <p class="card-text"><span>Központi telefonszám: </span> +36 1 363-6453</p>
          <p class="card-text"><span>Adószám: </span> 25028670-2-42</p>
          <p class="card-text"><span>Email címünk: </span>ingatland [kukac] igazinfo.hu</p>
        </div>
        <div class="card-footer text-muted">
          A weboldalt készítette: <a href="https://www.blockage.hu/">Vízisikló Kft</a>
        </div>
      </div>

